/* Navigation bar css starts */
 @font-face {
 font-family:'Futura Bold BT';
 src: url('font/Futura Bold BT.ttf');
}
 @font-face {
 font-family:'futurastd-bold';
 src: url('font/futurastd-bold.otf');
 }
 @font-face {
 font-family:'FuturaExt-Norma';
 src: url('font/FuturaExt-Norma.ttf');
}
 @font-face {
 font-family:'FuturaCnd-Norma';
 src: url('font/FuturaCnd-Norma.ttf');
}
.navbar-default{
background:#fff;
border:none;
}

.navbar-default .navbar-nav > li > a{
color:#AEAFB1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
background-color: #fff;
color:#4698B0;
}
.jumbotron{
background:#fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
background-color: #fff;
color:#4698B0;
}
.navbar .menu  a{
font-size: 13px;
margin-top: 8px;
text-transform:uppercase;
}
.page-node-2 .col-sm-12 h1{
display:none;
}
.container .jumbotron{
padding:0px;
}
#block-views-propertydetail-homepage-block .views-row{
width:49%;
float: left;
 margin-right: 2%;
}
#block-views-propertydetail-homepage-block .views-row-last{
margin-right:0;
}
#block-views-propertydetail-homepage-block .views-field{
width:100%;
}
#block-views-propertydetail-homepage-block .views-row .field-content img{
width:100%;
}
/* Navigation bar css ends */

/* About us block css starts */
.page-node-2 #node-2 .field-item.even{
  margin-top:7%;
}
.page-node-2 #node-2 .field-item.even p{
color:#AEAFB1;
}

.page-node-2 #node-2 .rtecenter {
    margin-bottom: 20px;
}
.page-node-2 #node-2 .about-inner{
  padding-left: 19%;
    padding-right: 19%;
    text-align: center;
    width: 100%;
}
#block-views-propertydetail-homepage-block .views-row  .field-content > p {
    color: #88898b !important;
    padding-left: 14%;
    padding-right: 18%;
    text-align: center;
}
/* About us block css ends */
/* MD-slider css starts */
.md-slide-wrap *{
opacity:1 !important;
}
.md-arrow-left{background: url(../images/arrowleft.png) no-repeat scroll 0 0 / 100% !important; width: 40px; height: 79px;position: absolute; top: 50%; margin-top: -20px; cursor: pointer; z-index: 3}
.md-arrow-right {background: url(../images/arrowright.png) no-repeat  0 0 / 100% !important; width: 40px; height: 79px;position: absolute; top: 50%; margin-top: -20px; cursor: pointer; z-index: 3}
.md-arrow-left {left: -39px;}
.md-arrow-right {right: -40px;}
.md-slide-bullet-2 .md-bullets {bottom: 0px !important; text-align: center;top: 102%;}
.md-item-wrap{
position:static;
}
.md-bullet a {background:#4698B0;}
/* MD-slider css ends */

.views-field.views-field-view-node{
text-align:center;
}



