/*
Array list
==start==
white-shadow|White shadow 1
white-shadow2|White shadow 2
black-shadow|Black shadow 1
black-shadow2|Black shadow 2
text-white-shadow|Text white shadow 1
text-black-shadow|Text black shadow 1
text-white-shadow2|Text white shadow 2
text-black-shadow2|Text black shadow 2
==end==
*/
/*
style
*/
.md-slide-wrap {margin: 0; font-size: 12px; line-height: 1.5em; word-wrap: normal}
.md-slidewrap {font-size: 12px; line-height: 1.5em; word-wrap: normal} /* for amin editing */
.md-objects > div,
.md-objects > div a,
.slider-item > div {
	margin: 0;
	padding: 0;
	line-height:1em;
	box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
}
.md-loading-bg {background: #fff; opacity: 0.6;}
.md-loading-state {background: #fff}
.md-bullet {
	background: #ccc;
}
.md-bullet a {background: #fff;}
.md-bullet img {border: 3px solid #fff; top:0; left:0;
    -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
    box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.md-bullet .md-thumb-arrow {border-top-color: #fff;}

.white-shadow {
	-moz-box-shadow:4px 4px 4px rgba(255,255,255,0.25);
	-webkit-box-shadow:4px 4px 4px rgba(255,255,255,0.25);
	box-shadow:4px 4px 4px rgba(255,255,255,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#40ffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#40ffffff,Positive=true);
}
.black-shadow {
	-moz-box-shadow:4px 4px 4px rgba(0,0,0,0.25);
	-webkit-box-shadow:4px 4px 4px rgba(0,0,0,0.25);
	box-shadow:4px 4px 4px rgba(0,0,0,0.25);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#40000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=4,OffY=4,Color=#40000000,Positive=true);
}
.white-shadow2 {
	-moz-box-shadow:0px 0px 4px rgba(255,255,255,0.35);
	-webkit-box-shadow:0px 0px 4px rgba(255,255,255,0.35);
	box-shadow:0px 0px 4px rgba(255,255,255,0.35);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59ffffff,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59ffffff,Positive=true);
}
.black-shadow2 {
	-moz-box-shadow:0px 0px 4px rgba(0,0,0,0.35);
	-webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.35);
	box-shadow:0px 0px 4px rgba(0,0,0,0.35);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59000000,Positive=true)";
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#59000000,Positive=true);
}
.text-white-shadow p {
	text-shadow:0px 1px 0px rgba(255,255,255,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80ffffff,Positive=true);
}
.text-black-shadow p {
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80000000,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#80000000,Positive=true);
}

.text-white-shadow2 p {
	text-shadow:0px -1px 0px rgba(255,255,255,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#80ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#80ffffff,Positive=true);
}

.text-black-shadow2 p {
	text-shadow:0px -1px 0px rgba(0,0,0,0.5);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#80000000,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=-1,Color=#80000000,Positive=true);
}


/* touch device */
.md-touchdevice .md-arrow-left,
.md-touchdevice .md-arrow-right,
.md-touchdevice .md-play,
.md-touchdevice .md-pause {top: auto; left: auto; margin-top: 0; bottom: 10px; right: 10px; display: none}
.md-touchdevice .md-arrow-left {right: 80px}
.md-touchdevice .md-play,
.md-touchdevice .md-pause {right: 45px}

/* thumbnail */
.md-thumb img {padding: 4px; background: #fff; border:1px solid #E1E1E1}
.md-thumb a:hover img {border-color: #ccc}
.md-thumb a.md-current img {border-color: #bbb}

@media screen and (max-width: 760px) {
	.md-bullet,
	.md-bullet a {height: 9px; width: 9px;}
}
@media screen and (max-width: 600px) {
	.md-bullet,
	.md-bullet a {height: 7px; width: 7px;}
}
